@font-face {
  font-family: "Avant Garde For Salesforce";
  src: url("../fonts/AvantGardeForSalesforceW05-Dm.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ITC Avant Garde";
  src:
    url("../fonts/ITCAvantGardeGothic-Demi.woff2") format("woff2"),
    url("../fonts/ITCAvantGardeGothic-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Salesforce Sans";
  src: url("../fonts/SalesforceSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Salesforce Sans";
  src: url("../fonts/SalesforceSans-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Salesforce Sans";
  src: url("../fonts/SalesforceSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
